.atomikui-btn:not(.atomikui-btn--link),
a.atomikui-btn:not(.atomikui-btn--link) {
  text-transform: lowercase;
  font-size: rem(16);

  &:hover {
    text-decoration: none;
  }
}

.atomikui-btn--link {
  color: $cyan-500;
}

.atomikui-btn--hollow {
  svg {
    transition: all 0.2s linear;
  }

  &:hover {
    & > svg {
      transform: scale(1.2);
    }
  }

  &:hover,
  &:focus {
    background: transparent;
  }
}
