.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    flex-direction: column;
    height: rem(60);
  }

  &__main {
    height: calc(100vh - 60px);
    overflow: auto;
    scroll-behavior: smooth;

    & > * {
      padding: rem(36 20);
    }

    & > * + *:not(#about) {
      border-top: rem(1) solid $divider-color;
    }
  }

  &__footer {
    background: darken($blue-gray-900, 4%);
    color: $white;
    font-size: rem(12);
    padding: rem(16);
    text-align: center;
  }
}
