.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    flex-direction: column;
    height: rem(60);
  }

  &__footer {
    background: darken($blue-gray-900, 4%);
    height: rem(50);
  }

  &__main {
    height: calc(100vh - 110px);
    overflow: auto;

    & > * + * {
      margin-top: rem(36);
    }
  }
}
