.header {
  align-items: center;
  background: darken($blue-gray-900, 4%);
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  padding: rem(0 16);

  &__logo {
    align-items: center;
    color: $white;
    display: flex;
    text-decoration: none;
    text-transform: lowercase;

    svg {
      width: 30px;
    }

    & > * + * {
      margin-left: rem(4);
    }
  }

  @media (min-width: $breakpoint-medium) {
    padding: rem(0 20);

    &__logo {
      svg {
        width: 30px;
      }
    }
  }
}
