.nav {
  a {
    color: $white;
    font-size: rem(14);
    font-weight: $font-semibold;
    text-transform: lowercase;

    &:hover,
    &.is-active {
      color: $yellow-100;
      text-decoration: none;
    }
  }

  @media (min-width: $breakpoint-medium) {
    a {
      font-size: rem(16);
    }
  }
}
